<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jnshu.dao.UserMapper">

    <select id="findUsersBy" parameterType="com.jnshu.pojo.User" resultType="com.jnshu.pojo.User">
        select * from user
        <where>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="mail != null">
                and mail = #{mail,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="findIdBy" parameterType="com.jnshu.pojo.User" resultType="Integer">
        select id from user
        <where>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="phone != null">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="mail != null">
                and mail = #{mail,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insertUser" parameterType="com.jnshu.pojo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="mail != null">
                mail,
            </if>
            <if test="imagePath != null">
                image_path,
            </if>
            <if test="createAt != null">
                create_at,
            </if>
            <if test="updateAt != null">
                update_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="mail != null">
                #{mail,jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="createAt != null">
                #{createAt,jdbcType=BIGINT},
            </if>
            <if test="updateAt != null">
                #{updateAt,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

</mapper>